// 全局样式

// 引入字体图标样式
@import "./icon.less";

// 页面背景颜色
body {
    background-color: #f5f7f9;
}

// 页面头部样式
.app-nav-bar {
    background-color: #3296fa;
    .van-nav-bar__title {
        color: #ffffff;
    }
    .van-icon {
        color: #ffffff;
    }
}